
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

.main-content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: var(--spacing-100, 8px);
	align-self: stretch;
	margin: 32px 24px;

	h1 {
		color: var(--color-slate-900, #133041);
		/* desktop/text-preset-2 */
		font-family: "Plus Jakarta Sans";
		font-size: var(--font-size-text-preset-2, 24px);
		font-style: normal;
		font-weight: 700;
		line-height: 125%; /* 30px */
	}

	a {

		color: #4E6E7E;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 24px;
	}

}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: var(--spacing-300, 24px);
	align-self: stretch;
	
	
	label {
		color: var(--color-slate-700, #4E6E7E);
		/* desktop/text-preset-4 */
		font-family: "Plus Jakarta Sans";
		font-size: var(--font-size-text-preset-4, 16px);
		font-style: normal;
		font-weight: 500;
		line-height: 150%; /* 24px */
		margin-bottom: 12px 24px;
	}

	input[type=number] {
		width: 250px;
		padding: 12.5px 16px;
		border-radius: 4px;
		border: 1px solid #6B94A8;
		width: calc(100% - 32px);
	}

	.mortgage-amount {
		display: flex;
		flex-direction: column;
		width: 100%;
		gap: 12px;

		input[name=mortgage-amount] {
			background-image: url('./assets/images/pound.svg'), linear-gradient(90deg, #E4F4FD 16%, #fff 16%);
			background-repeat: no-repeat;
			background-position: 6% 50%;
			text-indent: 40px;
	
			label {
				gap: 12px;
			}
		}
	}


	.mortgage-term{
		position: relative;
		display: flex;
		flex-direction: column;
		width: 100%;
		gap: 12px;

		input[name=mortgage-term] {
			background-image: linear-gradient(270deg, #E4F4FD 22%, #fff 22%);
			background-repeat: no-repeat;
		}

		.absolute {
			p {
				font-family: "Plus Jakarta Sans";
				position: absolute;
				top: 44px;
				margin-left: 83%;
				margin-top: 5px;
				font-weight: 700;
				color: #4E6E7E;
				font-size: 16px;
			}
		}
	}

	.interest-rate {

		input[name=interest-rate] {
			margin: 12px 0;
			background-image: url('./assets/images/percent.svg'), linear-gradient(270deg, #E4F4FD 16%, #fff 16%);
			background-repeat: no-repeat;
			background-position: right;
			background-position-x:  95%;
		}
	}

	.radio {
		display: flex;
		flex-direction: column;
		width: 100%;
		gap: var(--spacing-150, 12px);



		h2 {
			font-family: "plus jakarta sans";
			font-weight: 500;
			color: #4E6E7E;
			font-size: 16px;
		}

		label {
			font-weight: 700;
			color: #133041;
		}
		
		input[type=radio] {
			height: 25px;
			width: 55px;
			vertical-align: middle;
		}

		div:has(input[type=radio]:checked) {
			background-color: rgba(216, 219, 47, 0.15);
			border: 1px solid var(--color-lime, #D8DB2F);
		}

		div {
			display: flex;
			flex-direction: row-reverse;
			border: 1px solid #6B94A8;
			border-radius: 4px;
			width: 100%;
			justify-content: start;
			padding: 12.5px 0;
		}
	}

	input[type=button] {
		background: url(./assets/images/calc.svg) no-repeat center;
		cursor: pointer;
		padding: 16.5px 46px ;
		width: 100%;
		background-color: #D8DB2F;
		border-radius: 999px;
		border: none;
		margin-bottom: 32px;
	}
}

.error {
	color: var(--color-red, #D73328);

	/* desktop/text-preset-5 */
	font-family: "Plus Jakarta Sans";
	font-size: var(--font-size-text-preset-5, 14px);
	font-style: normal;
	font-weight: 500;
	line-height: 150%; /* 21px */
}